<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    <!-- {{ content }} -->
<script type="text/javascript">   
if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "{{ '/admin/' | absolute_url }}";
        })
        window.netlifyIdentity.on("close", redirect_proj)
      }
    })
} 

if (!document.location.hash) {
  redirect_proj()
}

function redirect_proj() {
  let projs = []
  {% for p in site.projects %}
  projs.push("{{p.url | absolute_url }}")
  {% endfor %}

  var proj = projs[Math.floor(Math.random() * projs.length)]
  window.location.href = proj
}

</script>
</body>
</html>